* {
    margin:0;
    padding:0;
    font-size: 16px;
    font-family: "Microsoft YaHei", sans-serif;
}
#container {
    min-width: 1150px;
    max-width: 1500px;
    margin:0 auto;
}
#nav {
    line-height: 50px;
    height: 50px;
    font-size: 0;
    margin-bottom: 1px;
}
#nav img {
    vertical-align: middle;
    display: inline-block;
    margin-left: 60px;
    margin-right: 10px;
}
#nav span {
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
}
#nav ul {
    float: right;
    height: 50px;
    margin-right: 40px;
}
#nav ul li {
    vertical-align: top;
    display: inline-block;
    width: 5em;
    text-align: center;
}
#nav a {
    display: inline-block;
    width: 5em;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: grey;
    background-image: url(../images/task7/nav_back.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 0 3px;
}
#nav a:hover {
    color: #e7504d;
    background-size: 75px 3px;
    transition: background 0.3s;
}
#login {
    margin-left: 3px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}
#login img {
    vertical-align: text-bottom;
    width: 16px;
    margin-left: 0;
    margin-right: 0;
}
#login span {
    vertical-align: top;
    font-size: 16px;
    font-weight: normal;
    color: #e7504d;
}
#nav ul li .now {
    color: #e7504d;
    background-size: 75px 3px;
}
#banner {
    height: 690px;
    background-image: url(../images/task7/banner_img.jpg);
    background-size: cover;
}
#banner div {
    display: inline-block;
    margin-left: 8%;
    margin-top: 200px;
}
#banner h1 {
    color: white;
    font-size: 4.5em;
    font-weight: lighter;
    line-height: 1.8em;
}
#banner p {
    font-size: 1.3em;
    color: white;
    line-height: 1.5em;
}
#banner a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 2.1em;
    letter-spacing: 4px;
    text-indent:4px;
    padding:0.2em 2.6em;
    margin-top: 60px;
    background-color: #e7504d;
}
#banner a:hover {
    background-color: white;
    color: #e7504d;
    transition: all 0.6s;
}
#intro {
    height: 290px;
    color: grey;
}
#intro li {
    display: inline-block;
    width: 24.6%;
    text-align: center;
}
#intro li img {
    display: block;
    margin:65px auto;
}
#intro li span {
    display: inline-block;
    border-right: 2px solid grey;
    width: 100%;
    height: 2.5em;
    padding:0.4em 0;
}
#intro li:last-of-type span {
    border-right: 0;
}
#logo {
    background-color: #ededed;
    height: 280px;
    padding-top: 90px;
    text-align: center;
}
#logo img {
    overflow: hidden;
    display: block;
    margin:0 auto 40px auto;
}
#logo span {
    font-size: 4em;
    color: grey;
}
#search {
    height: 341px;
    background-image: url(../images/task7/search_back.jpg);
    background-size: cover;
    text-align: center;
    color: white;
}
#search h2 {
    display: inline-block;
    font-size: 2em;
    font-weight: lighter;
    width: 1.2em;
    white-space: nowrap;
    text-indent: -4.9em;
    line-height: 2em;
    margin-top:40px;
    margin-bottom: 0.6em;
    border-bottom: 2px solid white;
}
.searchOption, .search   {
    display: inline-block;
    vertical-align: top;
    margin-top:60px;
    text-align: center;
    width: 23%;
    margin-right: 1%;
    height: 39px;
}
#search div span {
    color: grey;
    display: inline-block;
    width: 242px;
    padding: 8px 0;
    padding-left: 10px;
    background-color: white;
    text-align: left;
    background-image: url(../images/task7/select_back.png);
    background-repeat: no-repeat;
    background-position: 97% 50%;
    border: 1px solid grey;
    cursor: pointer;
}
#search div .spanHover {
    border: 1px solid #e7504d;
}
#search div .spanClick {
    border: 1px solid #e7504d;
    border-bottom: 0;
}
#search ul {
    cursor: pointer;
    overflow: hidden;
    display: none;
}
#search .ulShow{
    display: inline-block;
    height: auto;
    max-height: 300px;
    width: 252px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ededed;
    border:1px solid #e7504d;
    color: grey;
}
#search ul li {
    display: block;
    text-align: left;
    padding: 5px 0 5px 38px;
}
#search ul .liHover {
    background-color: #e7504d;
    color: white;
}
.search a{
    display: inline-block;
    width: 254px;
    height: 39px;
    background-color: #e7504d;
    font-size: 1.1em;
    line-height: 38px;
    vertical-align: middle;
    text-decoration: none;
    white-space: pre;
    cursor: pointer;
}
#activity {
    height: 550px;
    background-color: #f7f7f7;
    text-align: center;
    padding: 0 0;
}
#activity div{
    display: inline-block;
    text-align: center;
    width: 22%;
    margin-top: 100px;
}
#activity div:last-of-type {
    margin-right:0;
}
#activity img {
    padding:11px 8px;
    border: 1px solid #cdcdcd;
    background-color: white;
}
#activity h4 {
    line-height: 30px;
    font-weight: lighter;
}
#activity h3 {
    font-weight: lighter;
    text-align: center;
    text-indent:1em;
    line-height: 30px;
    letter-spacing:1.3em;
    font-size: 1.4em;
}
#activity p {
    color: grey;
}
#world {
    height: 566px;
}
#world .left{
    position: relative;
    background-image: url(../images/task7/wrold_bac.jpg);
    background-size:cover;
    width: 70%;
    height: 566px;
    padding: 0;
    color: white;
    text-align: center;
    display: inline-block;
    margin:0;
}
#world h1{
    display: block;
    font-weight: 100;
    font-size: 12em;
    line-height: 1em;
}
#world h2{
    display: block;
    font-weight: 100;
    font-size: 3em;
    line-height: 1em;
    padding-top: 100px;
}
#world p{
    display: inline-block;
    text-align: left;
    line-height: 1.5em;
    font-size: 2em;
}
#world .left:after{
    content: "";
    display: block;
    background-color: transparent;
    position: absolute;
    top: 49%;
    right: 0;
    border:20px solid transparent;
    border-right-width: 34px;
    border-right-color: white;
}
#world .right{
    width: 30%;
    height: 566px;
    text-align: center;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#world .right p{
    margin:60px 20px;
    font-size: 15px;
    color: grey;
}
#world .right h3{
    font-size: 20px;
}
#world .right h3 span{
    color: red;
    font-size: 20px;
}
#world .right button{
    background: white;
    border:1px solid red;
    padding:5px 20px;
    color: red;
    width: 120px;
    margin-bottom: 60px;
}
#world .right .slide-circle{
    width: 8px;
    height: 8px;
    border:1px solid grey;
    border-radius: 4px;
    position: relative;
    font-size: 0;
}
#world .right .slide-circle:before{
    position: absolute;
    display: inline-block;
    top: -1px;
    left:-15px;
    content: "";
    background: grey;
    width: 8px;
    height: 8px;
    border:1px solid grey;
    border-radius: 4px;
}
#world .right .slide-circle:after{
    position: absolute;
    display: inline-block;
    top: -1px;
    right:-15px;
    content: "";
    width: 8px;
    height: 8px;
    border:1px solid grey;
    border-radius: 4px;
}